__pycache__/
*.pyc
.venv/
venv/
.env
.idea/
node_modules/
dist/
build/
.pytest_cache/
.coverage

storage/uploads/*
storage/audio/*
storage/subtitles/*
storage/outputs/*

!storage/uploads/.gitkeep
!storage/audio/.gitkeep
!storage/subtitles/.gitkeep
!storage/outputs/.gitkeep